{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center">Тест {{ test_id }}</h1>
{% if 'Редактирование' in title %}
<h1 style="text-align: center">Редактирование вопроса</h1>
{% elif 'Создание' in title %}
<h1 style="text-align: center">Создание вопроса</h1>
{% endif %}

<form class="login_form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.text_q.label }}<br>
        {{ form.text_q(class="form-control") }}<br>
        {% for error in form.text_q.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.answers.label }}<br>
        {{ form.answers(class="form-control") }}<br>
        {% for error in form.answers.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.correct.label }}<br>
        {{ form.correct(class="form-control") }}<br>
        {% for error in form.correct.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <div>
        <img src="{{url_for('static', filename=path)}}" class="img-fluid" width="200" alt="">
    </div>
    <p>
        {{ form.attachment.label }}<br>
        {{ form.attachment }}
        {% for error in form.attachment.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <br>
    <p style="text-align: center">
        {{ form.submit(type="submit", class="btn btn-warning") }}
        <a href="/edit_test/{{ test_id }}" class="btn btn-success">Вернуться</a>
    </p>
    <h4>{{message}}</h4><br>
    {% if 'Редактирование' in title %}
        <div style="text-align: center">
        {% if ques_prev > 0 %}
            <a href="/edit_question/{{ test_id }}/{{ ques_prev }}" class="btn btn-info">Предыдущий вопрос</a>
        {% endif %}
        {% if ques_next > 0 %}
            <a href="/edit_question/{{ test_id }}/{{ ques_next }}" class="btn btn-info">Следующий вопрос</a>
        {% endif %}
        </div>
    {% endif %}
</form>

{% endblock %}