{% extends "base.html" %}

{% block content %}
<h1 align="center">Тесты</h1>
{% if current_user.is_authenticated %}
<a class="btn btn-secondary" href="/my_account">Мой аккаунт</a>
{% endif %}
<table align="center">
  <tbody><tr>
      <th bgcolor="#cccccc" align="center">Название</th>
      <th bgcolor="#cccccc" align="center">Категория</th>
      <th bgcolor="#cccccc" align="center">Сложность</th>
      {% if current_user.is_authenticated %}
      <th bgcolor="#cccccc" align="center">Перейти к тесту</th>
      {%endif%}
  </tr>
  {% for test in data %}
    {%if test.official%}
  <tr bgcolor="#e0ffe0">
      {%else%}
  <tr>
    {%endif%}
      <th  align="center">{{test.name}}</th>
      <th  align="center">{{test.category}}</th>
      <th align="center">{{test.difficulty}}</th>
      {% if current_user.is_authenticated %}
      {% if test.id not in completed %}
      <th  align="center" ><a href="/test_info/{{test.id}}">Тык</a></th>
      {%else%}
      <th  align="center" >Уже пройден</th>
      {%endif%}
      {%endif%}
  <tr>
  {% endfor %}
</tbody></table>
{% endblock %}
