{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center">Мой аккаунт</h1>
<form class="login_form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        Почта<br>
    </p>
    <p class="alert alert-primary" role="alert" style="padding: 6px 12px">
        <strong> {{ email }} </strong>
    </p>
    <br>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <div>
        <img src="{{ path }}" class="img-fluid" width="200" alt="">
    </div>
    <p>
        {{ form.profile_pic.label }}<br>
        {{ form.profile_pic }}
        {% for error in form.about.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        Опыт<br>
    </p>
    <p class="alert alert-primary" role="alert" style="padding: 6px 12px">
        <strong> {{ xp }} </strong>
    </p>
    <br>
    <p>
        {{ form.submit(type="submit", class="btn btn-warning") }}
        <a href="/user_delete" class="btn btn-danger">Удалить аккаунт</a>
        <a href="/pass_change" class="btn btn-info">Изменить пароль</a>
        <a href="/" class="btn btn-success">Выйти</a>
    </p>
    <h4>{{message}}</h4>
    <p align="center">
        Мои тесты
    </p>
    <p>
        <a href="/edit_test/0" class="btn btn-info">Новый тест</a>
    </p>
    {%if data%}
    <table align="center">
        <tbody>
        <tr>
            <th bgcolor="#cccccc" align="center">Название</th>
            <th bgcolor="#cccccc" align="center">Категория</th>
            <th bgcolor="#cccccc" align="center">Сложность</th>
            <th bgcolor="#cccccc" align="center">Редактировать тест</th>
            <th bgcolor="#cccccc" align="center">Удалить тест</th>
        </tr>
        {% for test in data %}
        {%if test.official%}
        <tr bgcolor="#e0ffe0">
            {%else%}
        <tr>
            {%endif%}
            <th align="center">{{test.name}}</th>
            <th align="center">{{test.category}}</th>
            <th align="center">{{test.difficulty}}</th>
            <th align="center"><a href="/edit_test/{{test.id}}">Тык</a></th>
            <th align="center"><a href="/delete_test/{{test.id}}">Тык</a></th>
        <tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
</form>
{% endblock %}