{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center">Мой аккаунт</h1>
<form class="login_form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        Почта<br>
    </p>
    <div class="alert alert-primary" role="alert" style="padding: 6px 12px">
        <strong> {{ email }} </strong>
        <br>
    </div>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <div>
        <img src="{{ path }}" class="img-fluid" width="200" alt="">
    </div>
    <p>
        {{ form.profile_pic.label }}<br>
        {{ form.profile_pic }}
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <br>
    <p>
        {{ form.submit(type="submit", class="btn btn-warning") }}
        <a href="/user_delete" class="btn btn-danger">Удалить аккаунт</a>
        <a href="/" class="btn btn-success">Выйти</a>
    </p>
    <h4>{{message}}</h4>
</form>
{% endblock %}