{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center">Мой аккаунт</h1>
<form class="login_form" action="" method="post" enctype="multipart/form-data">
    <p>
        Имя<br>
    </p>
    <p style="padding: 6px 12px">
        <strong> {{ user.name }} </strong>
    </p>
    <div>
        <img src="{{ path }}" class="img-fluid" width="200" alt="">
    </div>
    <p>
        О пользователе<br>
    </p>
    <p style="padding: 6px 12px">
        <strong> {{ user.about }} </strong>
    </p>
    <p>
        Опыт<br>
    </p>
    <p class="alert alert-primary" role="alert" style="padding: 6px 12px">
        <strong> {{ user.xp }} </strong>
    </p>
    {%if data%}
    <p align="center">
        Тесты пользователя<br>
    </p>
    <table align="center">
        <tbody>
        <tr>
            <th bgcolor="#cccccc" align="center">Название</th>
            <th bgcolor="#cccccc" align="center">Категория</th>
            <th bgcolor="#cccccc" align="center">Сложность</th>
            <th bgcolor="#cccccc" align="center">Перейти к тесту</th>
            {%if current_user.moderator%}
            <th bgcolor="#cccccc" align="center">Сделать официальным / изменить сложность</th>
            <th bgcolor="#cccccc" align="center">Удалить</th>
            {%endif%}
        </tr>
        {% for test in data %}
        {%if test.official%}
        <tr bgcolor="#e0ffe0">
            {%else%}
        <tr>
            {%endif%}
            <th align="center">{{test.name}}</th>
            <th align="center">{{test.category}}</th>
            <th align="center">{{test.difficulty}}</th>
            {% if test.id not in completed %}
            <th align="center"><a href="/test_info/{{test.id}}">Тык</a></th>
            {%else%}
            <th align="center">Уже пройден</th>
            {%endif%}
            {%if current_user.moderator%}
            <th align="center">
                <form method="post">
                    <select name="moderator">
                        {% for opt in option_mod %}
                        <option value="{{test.id}}_{{ opt }}">{{opt}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Сохранить</button>
                </form>
            </th>
            <th align="center"><a href="/delete_test/{{test.id}}?redir=/other_account/{{user.id}}">Удалить</a></th>
            {%endif%}
        <tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
    <br>
    <p>
        <a href="/" class="btn btn-success">На главную страницу</a>
        <a href="/user_delete/{{user.id}}" class="btn btn-danger">Удалить аккаунт</a>
    </p>
</form>
{% endblock %}